{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="mt-5 pt-5">Administration des Séries</h1>
    {% if msg is null %}
    {% else %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ msg }}
        </div>
    {% endif %}
    <div class="row pt-5 mt-5">
        <div class="col-md-5 col-sm-6 pb-5">
            <h2 class="text-center">Modification de la série</h2>
            <form action="/admin/serie" method="post" enctype="multipart/form-data">
                <input type="hidden" name="idSerie" value="{{ serie.id }}">
                <div class="form-group row justify-content-center p-2">
                    <label for="title" class="col-xs-3 col-form-label mr-4">Titre<span class="ast">&ast;</span> :</label>
                    <div class="col-xs-9 col-sm-5 ml-3">
                        <input type="text" class="form-control" id="title" name="title" value="{{ serie.title }}" required>
                    </div>
                </div>
                <div class="form-group row justify-content-center p-2">
                    <label for="synopsis" class="col-xs-3 col-form-label mr-3">Synopsis :</label>
                    <div class="col-xs-9 col-sm-5">
                        <textarea class="form-control" rows="10" id="synopsis" name="synopsis">{{ serie.synopsis }}</textarea>
                    </div>
                </div>
                <div class="form-group row justify-content-center p-2">
                    <label for="genre" class="col-xs-3 col-form-label mr-3">Genre<span class="ast">&ast;</span> :</label>
                    <div class="col-xs-9 col-sm-5">
                        <input type="text" class="form-control ml-1" id="genre" name="genre" value="{{ serie.genre }}" required>
                    </div>
                </div>
                <div class="form-group row justify-content-center p-2">
                    <label for="creation_date" class="col-xs-3 col-form-label mr-3">Crée le<span class="ast">&ast;</span> :</label>
                    <div class="col-xs-9 col-sm-5">
                        <input type="date" class="form-control" id="creation_date" name="creation_date" value="{{ serie.creation_date }}" required>
                    </div>
                </div>
                {% if serie.link_picture is null %}
                    <div class="form-group row justify-content-center p-2">
                        <label for="picture" class="col-xs-3 col-form-label mr-3">Vignette :</label>
                        <div class="col-xs-9 col-sm-5">
                            <input id="picture" type="file" name="fichier[]" multiple="multiple"/>
                        </div>
                    </div>
                {% else %}
                    <p class="text-center pt-2">Voulez-vous supprimer l'image?</p>
                    <div class="form-group row justify-content-center">
                        <div class="d-flex flex-row">
                            <input type="checkbox" name="edit_image" id="edit_image" class="form-control" value="1">
                            <label for="edit_image" class="col-xs-3 col-form-label p-2"></label>
                        </div>
                        <input type="hidden" name="link_picture" value="{{ serie.link_picture }}">
                    </div>
                    <figure class="card card-body mx-auto">
                        <img class="img-fluid mx-auto" src="/assets/upload/{{ serie.link_picture }}">
                    </figure>
                {% endif %}
                <div class="form-group row justify-content-center p-2">
                    <div class="offset-xs-3 col-xs-9 mr-3">
                        <button type="submit" class="btn btn-outline-primary" value="updateSerie">Modifier</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4 col-sm-6 pl-4 pb-5">
            <h2 class="text-center">Ajouter des Saisons</h2>
            <form action="" method="post">
                <input type="hidden" name="idSerie" value="{{ idSerie }}">
                <div class="form-group row justify-content-center p-2">
                    <label for="nbSeasons" class="col-xs-3 col-form-label">N° de la saison à ajouter<span class="ast">&ast;</span> :</label>
                    <div class="col-xs-9 col-sm-2 p-2">
                        <input type="number" min="0" class="form-control" id="nbSeasons" name="nbSeasons" required>
                    </div>
                    <div class="offset-xs-3 col-xs-9 p-2">
                        <button type="submit" class="btn btn-outline-info" value="addSeason">Ajouter</button>
                    </div>
                </div>
            </form>
            <h2 class="text-center">Ajouter des Episodes</h2>
            <form action="/admin/episode" method="post">
                <input type="hidden" name="idSerie" value="{{ idSerie }}">
                <div class="form-group row justify-content-center p-2">
                    <label for="numeroSeason" class="col-xs-3 col-form-label mt-1">N° Saison<span class="ast">&ast;</span> :</label>
                    <div class="col-xs-9 col-sm-2 p-2">
                        <select id="numeroSeason" name="numeroSeason" class="form-control ml-2" required>
                            {% for season in seasons %}
                                {% if season.numberSeason < 10 %}
                                    <option value="0{{ season.numberSeason }}">0{{ season.numberSeason }}</option>
                                {% else %}
                                    <option value="{{ season.numberSeason }}">{{ season.numberSeason }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <label for="numeroEpisode" class="col-xs-3 col-form-label ml-1 mt-1">N° Episode<span class="ast">&ast;</span> :</label>
                    <div class="col-xs-9 col-sm-2 p-2">
                        <input type="number" min="0" class="form-control ml-2" id="numeroEpisode" name="numeroEpisode" required>
                    </div>
                </div>
                <div class="form-group row justify-content-center p-2">
                    <label for="titleEpisode" class="col-xs-3 col-form-label mr-1">Titre<span class="ast">&ast;</span> :</label>
                    <div class="col-xs-9 col-sm-5">
                        <input type="text" class="form-control ml-1" id="titleEpisode" name="titleEpisode" required>
                    </div>
                </div>
                <div class="form-group row ml-5 p-2">
                    <label for="date_diff" class="col-xs-3 col-form-label mr-3">Date de diffusion<span class="ast">&ast;</span> :</label>
                    <div class="col-xs-9">
                        <input type="date" class="form-control" id="date_diff" name="date_diff" required>
                    </div>
                </div>
                <div class="form-group row justify-content-center p-2">
                    <div class="offset-xs-3 col-xs-9 ml-3 p-2">
                        <button type="submit" class="btn btn-outline-info" value="addEpisode">Ajouter</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3 col-sm-6 pb-5">
            <h2 class="text-center">Liste des épisodes</h2>
            {% for episode in episodes %}
                <p class="card-title text-center">{{ episode.title }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
