{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="mt-5 pt-5">Liste des Séries</h1>
    <div class="container ">
        <div class="row">
            <div class="col-7 p-3 mx-auto">
                <form method="GET" action="/searchResult" class="input-group">
                    <input class="form-control searchengine" type="search" name="search" value=""
                           placeholder="Votre recherche">
                </form>
            </div>
        </div>
    </div>
    <div class="row pt-5">
        {% for serie in series %}
            <div class="col-md-3 col-sm-6 pl-4 pb-5 mx-auto">
                <figure class="card card-body mx-auto">
                    <a href="/pageSerie/{{ serie.id }}"><h2
                                class="card-title text-center">{{ serie.title | title }}</h2></a>
                    {% if serie.link_picture is null %}
                        <img class="img-fluid mx-auto" src="/assets/upload/defaultPicture.png">
                    {% else %}
                        <img class="img-fluid mx-auto" src="/assets/upload/{{ serie.link_picture }}">
                    {% endif %}
                </figure>
            </div>
        {% endfor %}
    </div>
    <div class="d-flex flex-row pt-5 justify-content-center">
        {% if page > 1 %}
            <div class="col-md-1 col-sm-1">
                <a class="btn btn-outline-secondary btn-ms" href="/list/{{ page-1 }}" role="button">Précédent</a>
            </div>
        {% endif %}
        <div class="col-md-1 col-sm-1 text-nowrap">
            <p>Page {{ page }} sur {{ pageMax }}</p>
        </div>
        {% if page < pageMax %}
            <div class="col-md-1 col-sm-1">
                <a class="btn btn-outline-secondary btn-sm" href="/list/{{ page+1 }}" role="button">Suivant</a>
            </div>
        {% endif %}
    </div>
{% endblock content %}
