{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="mt-5 pt-5">Liste des Séries</h1>
    <div class="row pt-5">
        {% for serie in series %}
            <div class="col-md-3 col-sm-6 pl-4 pb-5 mx-auto">
              <a href="/pageSerie/{{ serie.id }}"><div class="card card-body mx-auto">
                <figure class="card card-body mx-auto">
                    <h2 class="card-title text-center">{{ serie.title | title }}</h2>
                    {% if serie.link_picture is null %}
                        <img class="img-fluid mx-auto" src="/assets/upload/defaultPicture.jpg">
                    {% else %}
                        <img class="img-fluid mx-auto" src="/assets/upload/{{ serie.link_picture }}">
                    {% endif %}
                </figure>
               </a>
            </div>
        {% endfor %}
    </div>
    <div class=" d-flex flex-row pt-5 justify-content-center">
        {% if page > 1 %}
            <div class="col-md-2 col-sm-3 ml-5">
                <a class="btn btn-secondary" href="/list/{{ page-1 }}" role="button">précédent</a>
            </div>

        {% endif %}
        {% if page < pageMax %}
            <div class="col-md-1 col-sm-1 mr-5">
                <a class="btn btn-secondary" href="/list/{{ page+1 }}" role="button">suivant</a>
            </div>
        {% endif %}


    </div>
{% endblock content %}
