{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row pt-5">
        <div class="col-md-12">
            <h1 class="text-center">{{ serie.title }}</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12-mx-auto">
            <div class="star-rating">
                {% for i in  1..5 %}
                    {% set classNote = (i<= note ? "" : i - note < 0.5 ? "-half-full" : "-o" ) %}
                        <span class="fa fa-lg fa-star{{ classNote }}"></span>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row pt-5 column-reverse">
        <div class="col-sm-6 col-md-8 order-2 order-sm-1">
            <div class="row">
                <div class="col-sm-12 col-md-6 pt-1 d-inline-block">
                    <h2 class="d-none d-sm-block">Synopsis</h2>
                    <p class="d-none d-sm-block">{{ serie.synopsis }}</p>
                </div>
                <div class="col-sm-12 col-md-6 pt-1 d-inline-block">
                    <div class="input-group mb-3">
                        <select id="seasonSelect" class="custom-select" data-idSerie="{{ serie.id }}">
                            <option value="{{ season.id }}">Selectionner une saison</option>
                            {% for season in seasons %}
                                <option value="{{ season.id }}">Saison {{ "%02d" | format (season.numberSeason) }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <ul id="listEpisode" class="list-group">

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 order-1 order-sm-2 pt-1">
            <figure>
                {% if serie.link_picture is null %}
                    <img class="img-fluid" src="/assets/upload/defaultPicture.png"/>
                {% else %}
                    <img class="img-fluid" src="/assets/upload/{{ serie.link_picture }}"/>
                {% endif %}
            </figure>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script src="/assets/js/selecteurAjax.js"></script>
<script src="/assets/js/ratingStar.js"></script>
{% endblock %}